
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#slide{
  position:fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  height: auto;
  animation: fadeOut 2s ease;
  opacity: 0;
}

@keyframes fadeOut {
  from { opacity: 1}
  to   { opacity: 0}
}